@import "../../../index.scss";

.container {

  display: flex;
  flex-direction: column;

  height: 349px;
  flex-shrink: 0;
  margin: 39px 60px 60px 60px;

  .title {
    width: 743px;

    color: #000;
    font-family: Ferry;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.45px;
    
    .brMobile {
      display: none;
    }
  }
}


@media screen and (max-width: $mobile-width) {
  .container {
    margin: 55px 0 0 0;
    height: auto;
    width: auto;
    
    .title {
      margin: 0 0 0 14px;
      height: auto;
      width: auto;
      font-size: 28px;
      letter-spacing: 0.01em;
      text-align: left;
      
      .brMobile {
        display: flex;
      }
    }
  }
}