@import "../../../index";

.myBtn {
  width: 355px;
  height: 59px;
  border-radius: 5px;
  background-color: $color-blue;
  color: $color-white;
  border: none;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}