@import '../../../index';

.imgRocketMan {
  width: 442.57px;
  height: 470.21px;
  margin: 66px 0 0 80px;
}

@media screen and (max-width: $mobile-width) {
  .imgRocketMan {
    width: auto;
    margin: 0 0 0 20px;
  }
}