@import '../../index';


.container {
  display: flex;
  flex-direction: column;

  .formBox {
    display: flex;
    flex-direction: row;
    margin: 47px 0 64px 53px;
  }

}



@media screen and (max-width: $mobile-width) {
  .container {
    height: auto;
    width: auto;
    
    .formBox {
      height: auto;
      width: auto;
    }
  }
}