@import "../../../index";

.myBtn {
  align-self: center;
  color: $color-black;
  opacity: 40%;
  pointer-events: auto;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.14px;
  border: none;
  background: $color-white;

  &:hover {
    cursor: pointer;
    color: $color-blue;
    opacity: 1;
  }

}