@import "../../../index";

.container {
	display: flex;
	flex-direction: column;
	width: 1346px;
	margin: 107px 60px 109px 60px;
	
	.title {
		font-family: Ferry;
		font-size: 30px;
		font-weight: 900;
		line-height: 36px;
		letter-spacing: 0.02em;
		text-align: left;
	}
	
	.documentsBox {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 641px);
		column-gap: 38px;
		row-gap: 38px;
		
		margin: 58px 0 0 0;
	}
	
	.noDocuments {
		font-family: Ferry;
		font-size: 16px;
		font-weight: 900;
		line-height: 36px;
		letter-spacing: 0.02em;
		text-align: center;
	}
}


@media screen and (max-width: $mobile-width) {
	.container {
		height: auto;
		width: auto;
		margin: 57px 14px 36px 14px;
		
		.title {
			width: auto;
			font-family: Ferry;
			font-size: 28px;
		}
		
		.documentsBox {
			width: auto;
			margin: 34px 0 0 0;
      display: grid;
      grid-template-columns: repeat(1, auto);
		}
	}
}