@import "../../../index";

.container {
  display: flex;
  justify-content: space-between;
  margin: 24px 60px 0 60px;
  height: 620px;

  .leftBlock {
    width: 743px;
    height: 288px;
    margin: 0 -52px 0 0;
    z-index: 3;

    .descriptionTitle {
      color: $color-black;
      font-family: Ferry;
      font-size: 60px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      letter-spacing: 0.6px;
    }

    .descriptionParagraph {
      color: $color-black;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.2px;

      margin-top: 20px;
      width: 534px;
    }

  }

  .rightBlock {
    z-index: 2;
  }
}

@media screen and (max-width: $mobile-width) {
  .container {
    flex-direction: column;
    
    margin: 20px 0 0 0;
    height: 136px;
    width: 100%;
    
    .leftBlock {
      margin: 0 0 0 14px;
      
      .descriptionTitle {
        font-size: 28px;
        z-index: auto;

      }
      
      .descriptionParagraph {
        font-size: 18px;
        margin: 19px 34px 0 0;
        width: 327px;
        word-break: break-word;
        
        br {
          display: none;
        }
      }
    }
    
    .rightBlock {
      margin: 24px 0 0 0;
      z-index: auto;
      
      img {
        width: 100%;
        margin: 24px 0 0 0;
      }
    }
    
  }
}