@import "../index";

.appСontainer {
	display: flex;
	flex-direction: column;
	//border: black solid 1px;
	box-sizing: border-box;
	
	.mainСontainer {
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
	}
}

@media screen and (max-width: $mobile-width) {
	.appСontainer {
		height: auto;
		width: auto;
		
		.mainСontainer {
			height: auto;
			width: auto;
		}
	}
}