@import "../index";

.appСontainer {
	display: flex;
	flex-direction: column;
	margin: 0 0 0 calc((100vw - $full-width) / 2);
	padding: 0 0 0 calc((100vw - $full-width) / 2);
	box-sizing: border-box;
	
	.mainСontainer {
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		margin: 0 0 0 calc((100vw - $full-width) / 2);
	}
}

@media screen and (max-width: $mobile-width) {
	.appСontainer {
		height: auto;
		width: auto;
		
		.mainСontainer {
			height: auto;
			width: auto;
		}
	}
}