@import "../../index";

.container {
  height: 672px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
}


@media screen and (max-width: $mobile-width) {
  .container {
    height: auto;
    width: auto;
    flex-direction: column;
  }
}