@import "../../../../../index";

.container {
  width: 320px;
  align-self: flex-start;
  margin: 30px 0 0 0;

  .section {
    height: 19px;
    width: 105px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
  }

  .iconsBox {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 0 0;

    .oneIcon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 96px;
      height: 31px;
      border: 1px solid rgba(89, 112, 255, 0.51);
      border-radius: 3px;


      .oneIconLink {
        display: block;
        margin: 5px 0 0 0;
      }

    }

  }



}