@import "../../../index";

.container {
  display: flex;
  flex-direction: column;
  
  width: 641px;
  //height: 694px;
  gap: 0;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 1);
  
 
  .dataSourceBox {
    display: flex;
    flex-direction: row;
    margin: 19px 0 0 30px;
    
    .data {
      width: 88px;
      height: 19px;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 19.36px;
      letter-spacing: 0.03em;
      text-align: left;
      color: rgba(148, 148, 148, 1);
    }
    
    .source {
      height: 19px;
      margin: 0 0 0 14px;
      color: rgba(148, 148, 148, 1);
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 19.36px;
      letter-spacing: 0.03em;
      text-align: left;
    }
  }
  
  
  .title {
    margin: 24px 30px 0 30px;
    height: 62px;
    font-family: Inter;
    font-size: 26px;
    font-weight: 500;
    line-height: 31.47px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
  }
  
  .pictureBox {
    width: 581px;
    height: 158px;
    border-radius: 10px;
    margin: 14px 30px 0 30px;
    overflow: hidden;
    
    img {
      width: 100%;
      margin: -150px 0 0 0;
      //width: 581px;
      //height: 158px;
      object-fit: cover;
    }
  }
  
 
  .textBox {
    width: 581px;
    height: 228px;
    opacity: 50%;
    margin: 20px 30px 0 30px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    letter-spacing: 0.02em;
    text-align: left;
  }
  
  .btnAndWordCountBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 32px 28px 35px 30px;
    
    .wordCount {
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 19.36px;
      letter-spacing: 0.02em;
      text-align: left;
      color: rgba(148, 148, 148, 1);
    }
    
  }
}

@media screen and (max-width: $mobile-width) {
  .container {
    width: auto;
    height: auto;
    
    .dataSourceBox {
      margin: 19px 0 0 24px;
      
      .data {
        width: auto;
        height: 17px;
        font-size: 14px;
      }
      
      .source {
        height: 17px;
        width: auto;
        font-size: 14px;
        overflow: hidden;
      }
      
      
    }
    
    .title {
      margin: 21px 14px 0 14px;
      height: auto;
      width: auto;

      font-size: 19px;
      font-weight: 500;
      line-height: 22.99px;
      letter-spacing: 0.01em;
      text-align: left;
    }
    
    .pictureBox {
      width: auto;
      margin: 13px 14px 0 24px;
      
      img {
        width: 100%;
        height: auto;
        margin: 0;
        object-fit: cover;
      }
    }
    
    
    .textBox {
      width: auto;
      min-height: 228px;
      height: auto;
      margin: 18px 7px 0 24px;
  }
    
    .btnAndWordCountBox {
      margin: 25px 13px 18px 24px;
    }
}
}