@import-normalize;

@font-face {
	font-family: "Inter", sans-serif;
	src: local("Inter"), url("assets/fonts/Inter-Medium.ttf") format("ttf");
	
	font-family: 'Ferry';
	src: url("assets/fonts/Ferry-Black.eot");
	src: local('Ferry Black'), local('Ferry-Black'),
	url('assets/fonts/Ferry-Black.eot?#iefix') format('embedded-opentype'),
	url('assets/fonts/Ferry-Black.woff') format('woff'),
	url('assets/fonts/Ferry-Black.ttf') format('truetype');
}


$color-green: rgba(2, 148, 145, 1);
$color-black: rgba(0, 0, 0, 1);
$color-white: rgba(255, 255, 255, 1);
$color-orange: rgba(255, 182, 79, 1);
$color-turquoise: rgba(124, 227, 225, 1);
$color-blue: rgba(89, 112, 255, 1);
$color-error: #FF5959;

:export {
	colorGreen: $color-green;
	colorBlack: $color-black;
	colorWhite: $color-white;
	colorOrange: $color-orange;
	colorTurquoise: $color-turquoise;
	colorBlue: $color-blue;
	colorError: $color-error;
}

$full-width: 1440px;
$mobile-width: 769px;



body {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-self: center;
	justify-content: center;
	margin: 0 0 0 calc(calc(100vw - 1440px) / 2);
	padding: 0;
	width: $full-width;
}


@media screen and (max-device-width: $mobile-width) {
	body {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		padding: 0;
		margin: 0;
    width: auto;
		height: auto;
    box-sizing: border-box;
	}
}