@import "../../../index";


.container {
  margin: 70px 82px 0 51px;
  height: 576px;
}


@media screen and (max-width: $mobile-width) {
  .container {
    margin: 70px 0 0 14px;
    height: auto;
    width: auto;
    overflow: hidden;
    
    img {
      height: 392px;
    }
  }
}