@import "../../../index";

.container {
	display: flex;
	flex-direction: column;
	width: 1346px;
	height: 260px;
	margin: 0 43px 0 51px;
	
	
	.title {
		margin: 0 0 0 9px;
		
		color: #000;
		font-family: Ferry;
		font-size: 30px;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		letter-spacing: 0.6px;
	}
	
	.titleCount {
		color: #949494;
		font-family: Inter;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 0.36px;
		
		margin: 17px 0 0 9px;
	}
	
	
}

@media screen and (max-width: $mobile-width) {
	.container {
		width: auto;
		height: auto;
		margin: 60px 0 0 14px;
		
		.title {
			font-size: 28px;
			margin: 0 0 0 0;
		}
		
		.titleCount {
			margin: 10px 0 0 0;
		}
	}
}

